# ignore node dependency directories
node_modules/

# ignore scripts.js unminified file
assets/js/scripts.js

# ignore video file
assets/img/file.mp4
assets/img/file.ogv

# ignore img assets
assets/img/

#ignore gulpfile
gulpfile.js

#ignore screenshot
screenshot.png