body, html {
    padding: 0;
    margin:0;
    height: 100%;
}
body {
	padding-top: 95px;
}
.home-hero {
	min-height: 490px;
	width: 100%;
	position: relative;
	background-image: url('../../../../uploads/gebhart-hero-bg-mobile.png');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
	@include breakpoint (md) {
		background-image: url('../../../../uploads/gebhart-hero-bg.png');
	}
}
.home-about {
	width: 100%;
	min-height: 570px;
	background: #eaebc9;
}
.home-about-int {
	width: 100%;
	min-height: 570px;
	background: #fff;
	border-bottom: 5px solid #C5C75A;
}
.about-img {
	position: relative;
	display: block;
	min-height: 660px;
	width: 100%;
	background-image: url('../../../../uploads/about-us-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.home-help {
	background: #f5f5f5;
	width: 100%;
	min-height: 500px;
}
.rg-card {
	background: #f7fbfe;
}
.help-icon {
	background: #f7fbfe;
}
.cursive {
	font-family: 'Parisienne', cursive;
}
.testimonials {
	width: 100%;
	min-height: 300px;
	position: relative;
	background-image: url('../../../../uploads/testimonial-bg1.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.contact {
	width: 100%;
	min-height: 400px;
	position: relative;
}
.google-map {
	width: 100%;
	position: relative;
}
.footer {
	background: #C5C75A;
	min-height: 80px;
	width: 100%;
}
.header-bar {
	height: 25px;
	background: #086022;
	width: 100%;
}
.local {
	display: block;
	@include breakpoint (sm) {

	}
	@include breakpoint (md) {
		margin-right: -90px;
	}
	@include breakpoint (lg) {
		margin-right: -100px;
	}
}
.header-area {
	display: block;
	@include breakpoint (sm) {

	}
	@include breakpoint (md) {
		padding-right: 120px;
	}
	@include breakpoint (lg) {
		padding-right: 210px;
	}
	@include breakpoint (xl) {
		padding-right: 300px;
	}
}
.trusted-choice {
	display: block;
	@include breakpoint (sm) {
		padding-right: 0px;
		margin-top:-60px;
	}
	@include breakpoint (md) {
		padding-right: 0px;
		margin-top:-60px;
	}
	@include breakpoint (lg) {
		padding-right: 80px;
		margin-top:-60px;
	}
	@include breakpoint (xl) {
		padding-right: 170px;
		margin-top:-60px;
	}
}
.about--us {
	padding-top: 3rem;
	padding-bottom: 3rem;
	@include breakpoint (sm) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	@include breakpoint (md) {
		padding-top: 6rem;
		padding-bottom: 0rem;
	}
	@include breakpoint (lg) {
		padding-top: 8rem;
		padding-bottom: 0rem;
	}
	@include breakpoint (xl) {
		padding-top: 9.5rem;
		padding-bottom: 0rem;
	}
}
.video-hero {
	min-height: 380px;
	width: 100%;
	background-image: url('../../../../uploads/header-video-poster.png'); 
	background-repeat: no-repeat;
	background-size: cover;
	@include breakpoint (sm) {
		height: 500px;
		width: 100%;
		display: block;
		overflow: hidden;
	}
}
#video1 { 
	margin:0 auto;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    transition: 1s opacity;
}
.video-text {
	height: 320px;
	margin-top: -320px;
	color: #fff;
	@include breakpoint (sm) {
		position: relative;
		color: #fff;
		padding-top: -2rem;
		padding-left: 1.4rem;
		display: block;
		height: 400px;
		margin-top: -400px;
	}
	
}
.services {
	width: 100%;
	min-height: 600px;
	border-top: 60px solid #C5C75A;
}